<%- partial('./partials/header.ejs') %>

<main>
	<section class="privacy-policy">
		<article>
			<div class="container">

				<h1>Cookie Policy</h1>
				
				<p>If you have any questions about this Cookie Policy, please contact us at <a href="mailto:support@raidparty.io">support@raidparty.io</a></p>
				
				<br />
				
				<ol class="policy-list">
					<li><strong>Introduction</strong>
						<ol>
							<li>Our website uses cookies.</li>
							<li>We will ask you to consent to our use of cookies in accordance with the terms of this policy when you first visit our website.</li>
						</ol>
					</li>
					<li><strong>About Cookies</strong>
						<ol>
							<li>A cookie is a file containing an identifier (a string of letters and numbers) that is sent by a web server to a web browser and is stored by the browser. The identifier is then sent back to the server each time the browser requests a page from the server.</li>
							<li>Cookies may be either "persistent" cookies or "session" cookies: a persistent cookie will be stored by a web browser and will remain valid until its set expiry date, unless deleted by the user before the expiry date; a session cookie, on the other hand, will expire at the end of the user session, when the web browser is closed.</li>
							<li>Cookies do not typically contain any information that personally identifies a user, but personal information that we store about you may be linked to the information stored in and obtained from cookies.</li>
							<li>Cookies can be used by web servers to identify and track users as they navigate different pages on a website and identify users returning to a website.</li>
						</ol>
					<li><strong>Our cookies</strong>
						<ol>
							<li>We use [only session cookies] OR [only persistent cookies] OR [both session and persistent cookies] on our website.</li>
							<li>The names of the cookies that we use on our website, and the purposes for which they are used, are set out below:(a)	we use [cookie name] to [recognise a computer when a user visits our website] OR [track users as they navigate the website] OR [enable the use of a shopping cart on the website] OR [improve the website's usability] OR [administer the website] OR [prevent fraud and improve the security of the website] OR [personalise the website for each user] OR [target advertisements which may be of particular interest to specific users] OR [validate authenticated users sessions] OR [facilitate the use of our website search engine] OR [[specify purpose]]. [additional list items]</li>
						</ol>
							<li><strong>Analytics cookies</strong>
						<ol>
							<li>We use [Google Analytics] to analyse the use of our website.</li>
							<li>Our analytics service provider generates statistical and other information about website use by means of cookies.</li>
							<li>The analytics cookies used by our website have the following names: [_ga, _gat, __utma, __utmt, __utmb, __utmc, __utmz and __utmv].</li>
							<li>The information generated relating to our website is used to create reports about the use of our website.</li>
							<li>Our analytics service provider's privacy policy is available at: [http://www.google.com/policies/privacy/].</li>
						</ol>
					<li><strong>Third Party Cookies</strong>
						<ol>
							<li>Our website also uses third party cookies.
							<li>[We publish Google AdSense interest-based advertisements on our website. These are tailored by Google to reflect your interests. To determine your interests, Google will track your behaviour on our website and on other websites across the web using the DoubleClick cookie.] OR [We publish Google AdSense advertisements on our website. To determine your interests, Google will track your behaviour on our website and on other websites across the web using the DoubleClick cookie. This behaviour tracking allows Google to tailor the advertisements you see on other websites to reflect your interests (we do not publish interest-based advertisements on this website).] You can view, delete or add interest categories associated with your browser by visiting: http://www.google.com/settings/ads/. You can also opt out of the AdSense partner network cookie using those settings or using the NAI's (Network Advertising Initiative's) multi-cookie opt-out mechanism at: http://www.networkadvertising.org/choices/. However, these opt-out mechanisms themselves use cookies, and if you clear the cookies from your browser your opt-out will not be maintained. To ensure that an opt-out is maintained in respect of a particular browser, you may wish to consider using the Google browser plug-in available at: https://www.google.com/settings/ads/plugin.</li>
							<li>Details of the[ other] third party cookies used by our website are set out below: (a)	[third party cookie details].[additional list items]</li>
						</ol>
					<li><strong>Blocking Cookies</strong>
						<ol>
							<li>Most browsers allow you to refuse to accept cookies; for example: 
							(a)	in Firefox (version 51) you can block all cookies by clicking "Tools", "Options", "Privacy", selecting "Use custom settings for history" from the drop-down menu, and unticking "Accept cookies from sites"; and
							b)	in Chrome (version 55), you can block all cookies by accessing the "Customise and control" menu, and clicking "Settings", "Show advanced settings" and "Content settings", and then selecting "Block sites from setting any data" under the "Cookies" heading.
							[additional list items]</li>
							<li>Blocking all cookies will have a negative impact upon the usability of many websites.</li>
							<li>If you block cookies, you will not be able to use all the features on our website.</li>
						</ol>
					<li><strong>Deleting Cookies</strong>
						<ol>
							<li>You can delete cookies already stored on your computer; for example:
							(a)	in Firefox (version 51), you can delete cookies by clicking "Tools", "Options" and "Privacy", then selecting "Use custom settings for history" from the drop-down menu, clicking "Show Cookies", and then clicking "Remove All Cookies"; and
							(b)	in Chrome (version 55), you can delete all cookies by accessing the "Customise and control" menu, and clicking "Settings", "Show advanced settings" and "Clear browsing data", and then selecting "Cookies and other site and plug-in data" before clicking "Clear browsing data".
							[additional list items]</li>
							<li>Deleting cookies will have a negative impact on the usability of many websites.</li>
						</ol>
					<li><strong>Cookie Preferences</strong>
						<ol>
							<li>You can manage your preferences relating to the use of cookies on our website by visiting: [URL]</li>
						</ol>
					<li><strong>Our Details</strong>
						<ol>
							<li>This website is owned and operated by [name].</li>
							<li>We are registered in [England and Wales] under registration number [number], and our registered office is at [address].</li>
							<li>Our principal place of business is at [address].</li>
							<li>You can contact us:
							(a)	[by post, to [the postal address given above]];
							(b)	[using our website contact form];
							(c)	[by telephone, on [the contact number published on our website from time to time]]; or
							(d)	[by email, using [the email address published on our website from time to time]].
							[additional list items]</li>

						</li>
				</ol>
				

<br /><br /><br />			


				







				
			</div>
		</article>
	</section>
</main>


<%- partial('./partials/footer.ejs') %>