<%- partial('./partials/header.ejs') %>


<section class="banner-area text-center" id="intro">
    <article class="container text-center mid-blocks">
		<h1 class="wow fadeIn" data-wow-delay="0.1s">Eximius: Seize The Frontline</h1>
		<h2>Your Free Game and Tournament Entry!</h2>
		<br />
		<img class="img-center" src="/images/eximius-tournament-banner.png" alt="Eximius:Seize the frontline Tournament" />

	</article>
</section>

<main class="container text-center mid-blocks">

	<article class="instruction-item">

		<p><strong>Exclusive to RaidParty Players!</strong></p>

		<p>You have been selected to receive a full FREE game copy for Eximius: Seize The Frontline AND tournament entry.</p>

		<p>Please login to steam and use your game code below:</p>

		<br />

		<h3><strong><%- gameKey %></strong></h3>

		<br />
		
		<p><strong><a href="https://support.steampowered.com/kb_article.php?ref=5414-tfbn-1352">How to activate your game key &raquo;</a></strong></p>

		<hr />

		<p><strong><a href="https://www.toornament.com/tournaments/1973264354154627072/information">Join the tournament here &raquo;</a></strong></p>

		<hr />

		<p>You are being awarded this key as part of a tournament that has been created for Eximius that will start <strong>Friday 30th November 2018</strong>.</p>

		<p>To find out more please join the game studios discord channel here: <a href="https://discord.gg/h8nWEXU">Eximius Discord Channel</a></p>

		<br />

		<h3>Gameplay with BaronVonGames</h3>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/XeaQkYr8c8Y?start=87" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

		<br />
	</article>
	
</main>


<%- partial('./partials/footer.ejs') %>
