<%- partial('./partials/developer-header.ejs') %>


<!--******************* Banner Section Start ******************-->
<section class="banner-area text-center" id="guide">
	<article class="banner-data">
        <ul class="list-inline platform-btns">
            <li class="wow fadeInUp" data-wow-delay="0.1s">
                <a href="#"><img src="images/unity.png" alt="unity"></a>
            </li>
            <li class="wow fadeInUp" data-wow-delay="0.2s">
                <a href="#"><img src="images/apple.png" alt="apple"></a>
            </li>
            <li class="wow fadeInUp" data-wow-delay="0.3s">
                <a href="#"><img src="images/android.png" alt="android"></a>
            </li>
            <li class="wow fadeInUp" data-wow-delay="0.4s">
                <a href="#"><img src="images/unreal.png" alt="unreal"></a>
            </li>
        </ul>
        <h1 class="wow fadeIn" data-wow-delay="0.1s">Launch your game releases <span>successfully </span></h1>
        <p class="wow fadeIn" data-wow-delay="0.2s">Over 24,506+ players ready to play your game</p>
        <ul class="list-inline btns-block">
            <li class="wow fadeInRight"><a href="index.html" target="_blank">Read the Doc</a></li>
        	<li class="wow fadeInLeft"><a href="index.html" target="_blank">Get Started</a></li>
        </ul>
        <div class="wow fadeInUp"><img src="images/iphone-screen-1.png" alt="iphone-screen" class="iphone-screen img-full"></div>
    </article>
    <article class="container text-center mid-blocks">
            
    </article>
</section>
<!--******************* Banner Section End ******************-->
<!--******************* Middle Section Start ******************-->
<main>
    <!--Info Block 1 Start-->
    <section class="content-block info-block-1 info-block clearfix" id="features">
    	<article class="container">
            <figure class="col-md-6 col-sm-6 text-center hidden-xs"> 
                <img src="images/block1-1.png" alt="mockup" class="above-img wow fadeInUp" data-wow-delay="0.5s">
            </figure>
        	<div class="col-md-6 col-sm-6">
                <figcaption class="wow fadeInLeft" data-wow-delay="0.3s">
                    <div><h2>Drive <span>real</span> players to your games and <span>reduce</span> player attrition</h2></div>
                </figcaption>
                <ul class="list-unstyled">
                    <li class="wow fadeInRight" data-wow-delay="0.1s">Attract players directly with reward events and achievements.</li>
                    <li class="wow fadeInRight" data-wow-delay="0.2s">Your advertising campaigns get pushed out directly to player networks, incentivising them to join.</li>
                    <li class="wow fadeInRight" data-wow-delay="0.3s">This gives the players something in return and builds you a more loyal community.</li>
                    <li class="wow fadeInRight" data-wow-delay="0.4s">It also provides you a new route for engaging with your players - leading to higher retention rates.</li>
                </ul>
            </div>
            <figure class="col-md-6 col-sm-6 text-center visible-xs"> 
                <img src="images/block1-1.png" alt="mockup" class="above-img wow fadeInUp" data-wow-delay="0.5s">
            </figure>
        </article>
    </section>
    <!--Info Block 1 End-->
    <!--Info Block 2 Start-->
    <section class="content-block white-block bg-pat clearfix">
    	<article class="container">
        	<div class="col-md-6 col-sm-6 ">
                <figcaption class="wow fadeInRight" data-wow-delay="0.3s">
                   <div><h2><span>Re-use</span> your advertising budget and create a <span>self-fuelling</span> community</h2></div>
                </figcaption>
                <ul class="list-unstyled">
                    <li class="wow fadeInLeft" data-wow-delay="0.1s">Create a specific sub-set of in-game items, upgrades or even offset against standard purchases for FORCE. You then recoup your original advertising budget to be re-used for attracting even more players.</li>
                    <li class="wow fadeInLeft" data-wow-delay="0.2s">No other advertising method allows you to recycle your budget in this way.</li>
                    <li class="wow fadeInLeft" data-wow-delay="0.3s">Create a self-fuelling player community.</li>
                </ul>
            </div>
            <figure class="col-md-6 col-sm-6 text-center"> 
            	<img src="images/block1-2.png" alt="mockup" class="above-img wow fadeInUp" data-wow-delay="0.5s">
            </figure>
        </article>
    </section>
    <!--Info Block 2 End-->
     <!--Info Block 3 Start-->
    <section class="content-block info-block-3 info-block clearfix" id="features">
        <article class="container">
            <figure class="col-md-6 col-sm-6 text-center hidden-xs"> 
                <img src="images/block1-1.png" alt="mockup" class="above-img wow fadeInUp" data-wow-delay="0.5s">
            </figure>
            <div class="col-md-6 col-sm-6">
                <figcaption class="wow fadeInLeft" data-wow-delay="0.3s">
                    <div><h2>Create a new in-game economy for <span>untapped</span> revenue </h2></div>
                </figcaption>
                <ul class="list-unstyled">
                    <li class="wow fadeInRight" data-wow-delay="0.1s">Your players could be running their own external services and building a community within your games community. Tap into this revenue stream by integrating with our technology and allowing players to reward each other - all while you earn a residual revenue stream you didn't realize existed!</li>
                </ul>
            </div>
            <figure class="col-md-6 col-sm-6 text-center visible-xs"> 
                <img src="images/block1-1.png" alt="mockup" class="above-img wow fadeInUp" data-wow-delay="0.5s">
            </figure>
        </article>
    </section>
     <!--Info Block 3 End-->
     <!--documentation Section Start-->
    <section class="documentation-section text-center" id="documentation">
    	<ul class="list-inline documentation-info">
            <li class="text-left wow animated fadeInRight" data-wow-delay="0.4s">
                <ul class="list-inline app-btns-block">
                    <li><a href="#" target="_blank">Read the Doc</a></li>
                    <li><a href="#" target="_blank">Get Started</a></li>
                </ul>
            </li>
        </ul>
    </section>
    <!--Download Section End-->
</main>
<!--******************* Middle Section End ******************-->

<%- partial('./partials/developer-footer.ejs') %>
