<%- partial('./partials/header.ejs') %>


<section class="banner-area text-center" id="intro">
	<article class="banner-data">
    	<div class="banner-logo wow fadeInDown"><img src="images/banner-logo.png" alt="banner-logo"></div>
        <ul class="list-inline app-btns-block">
            <li class="wow fadeInRight"><a href="/"><img src="/images/google-play-btn.png" alt="google-store"></a></li>
        	<li class="wow fadeInLeft"><a href="/"><img src="/images/app-store-btn.png" alt="app-store"></a></li>
        </ul>
        <div class="wow fadeInUp"><img src="images/iphone-screen-1.png" alt="iphone-screen" class="iphone-screen img-full"></div>
    </article>
    <article class="container text-center mid-blocks">
            <h1 class="wow fadeIn" data-wow-delay="0.1s"><%- __('Start getting <span>rewarded</span> for playing<br> the <span>games</span> you love.') %></h1>
            <p class="wow fadeIn" data-wow-delay="0.2s">Earn a new cryptocurrency, called FORCE for in-game achievements.</p>
            <article class="mid-3-blocks clearfix">
                <div class="col-sm-4 col-md-4 wow fadeInUp" data-wow-delay="0.3s">
                    <img src="images/intro-icon-1.svg" alt="intro-icon">
                    <p><span>over 35k</span> <br> Players</p>
                </div>
                <div class="col-sm-4 col-md-4 wow fadeInUp" data-wow-delay="0.4s">
                    <img src="images/intro-icon-2.svg" alt="intro-icon">
                    <p><span>3,000,000</span> <br> FORCE available</p>
                </div>
                <div class="col-sm-4 col-md-4 b-none wow fadeInUp" data-wow-delay="0.5s">
                    <img src="images/intro-icon-3.svg" alt="intro-icon">
                    <p><span>over 418 <small>ETH</small></span> <br> available to win</p>
                </div>
            </article>
        </article>
</section>

<main>
    <!--Info Block 1 Start-->
    <section class="content-block content-block-home info-block-1 info-block clearfix" id="features">
    	<article class="container">
            <figure class="col-md-6 col-sm-6 text-center hidden-xs"> 
                <img src="/images/block1-1.png" alt="mockup" class="above-img wow fadeInUp" data-wow-delay="0.5s">
            </figure>
        	<div class="col-md-6 col-sm-6">
                <figcaption class="wow fadeInLeft" data-wow-delay="0.3s">
                    <div><h2>Earn <span>FORCE</span> rewards for in-game achievements </h2></div>
                </figcaption>
            </div>
            <figure class="col-md-6 col-sm-6 text-center visible-xs"> 
                <img src="/images/block1-1.png" alt="mockup" class="above-img wow fadeInUp" data-wow-delay="0.5s">
            </figure>
        </article>
    </section>
    <!--Info Block 1 End-->
    <!--Info Block 2 Start-->
    <section class="content-block content-block-home white-block bg-pat clearfix">
    	<article class="container">
        	<div class="col-md-6 col-sm-6 ">
                <figcaption class="wow fadeInRight" data-wow-delay="0.3s">
                   <div><h2>Convert your FORCE for <span>Cash</span> </h2></div>
                </figcaption>
            </div>
            <figure class="col-md-6 col-sm-6 text-center"> 
            	<img src="/images/block1-2.png" alt="mockup" class="above-img wow fadeInUp" data-wow-delay="0.5s">
            </figure>
        </article>
    </section>
    <!--Info Block 2 End-->
     <!--Info Block 3 Start-->
    <section class="content-block content-block-home info-block-3 info-block clearfix" id="features">
        <article class="container">
            <figure class="col-md-6 col-sm-6 text-center hidden-xs"> 
                <img src="/images/block1-3.png" alt="mockup" class="above-img wow fadeInUp" data-wow-delay="0.5s">
            </figure>
            <div class="col-md-6 col-sm-6">
                <figcaption class="wow fadeInLeft" data-wow-delay="0.3s">
                    <div><h2><span>Invite</span> Friends and <br><span>Earn</span> FORCE </h2></div>
                </figcaption>
            </div>
            <figure class="col-md-6 col-sm-6 text-center visible-xs"> 
                <img src="/images/block1-1.png" alt="mockup" class="above-img wow fadeInUp" data-wow-delay="0.5s">
            </figure>
        </article>
    </section>
     <!--Info Block 3 End-->
      <!--Info Block 3 Start-->
    <section class="content-block content-block-home white-block bg-pat clearfix">
        <article class="container">
            <div class="col-md-6 col-sm-6 ">
                <figcaption class="wow fadeInRight" data-wow-delay="0.3s">
                   <div><h2><span>Earn</span> group rewards from Raids </h2></div>
                </figcaption>
            </div>
            <figure class="col-md-6 col-sm-6 text-center"> 
                <img src="/images/block1-2.png" alt="mockup" class="above-img wow fadeInUp" data-wow-delay="0.5s">
            </figure>
        </article>
    </section>
     <!--Info Block 3 End-->
    <!--Download Section Start-->
    <section class="download-section text-center" id="download">
    	<ul class="list-inline download-info">
        	<li class="wow animated fadeInLeft" data-wow-delay="0.2s"><img src="images/footer-app-icon.png" alt="raidparty"></li>
            <li class="text-left wow animated fadeInRight" data-wow-delay="0.4s">
            	<h2>
                	Download <span>RaidParty<sup>TM</sup></span><br />to win prizes today.
                </h2>
                <ul class="list-inline app-btns-block">
                    <li class="paddingl-none"><a href="/"><img src="images/google-play-btn.png" alt="google-store"></a></li>
                    <li><a href="/"><img src="images/app-store-btn.png" alt="app-store"></a></li>
                </ul>
            </li>
        </ul>
    </section>
    <!--Download Section End-->
</main>


<%- partial('./partials/footer.ejs') %>
