<%- partial('./partials/header.ejs') %>


<section class="banner-area text-center" id="intro">
	<article class="banner-data">
    	<div class="banner-logo wow fadeInDown"><img src="images/banner-logo.png" alt="banner-logo"></div>
		
		<br />
		
		<h1 class="wow fadeIn" data-wow-delay="0.1s"><%- __("<strong>%s</strong> spaces left out of <strong>%s</strong>",spacesLeft.toLocaleString(),totalSpaces.toLocaleString()) %></h1>
		<p class="wow fadeIn" data-wow-delay="0.2s">Over <strong>16 ETH</strong> available to <strong>win</strong> for playing free to play games!</p>
		<br />
		<a class="btn btn-success btn-lg" href="/join">Claim your space &raquo;</a>
		
		<!-- SHOW THIS WHEN LIVE ON APP STORES
        <ul class="list-inline app-btns-block">
            <li class="wow fadeInRight"><a href="/"><img src="/images/google-play-btn.png" alt="google-store"></a></li>
        	<li class="wow fadeInLeft"><a href="/"><img src="/images/app-store-btn.png" alt="app-store"></a></li>
        </ul>-->
		
    </article>
    <article class="container text-center mid-blocks">

            <article class="mid-3-blocks clearfix">
                <div class="col-sm-4 col-md-4 wow fadeInUp" data-wow-delay="0.3s">
                    <img src="images/icons/gamepad-icon.png" alt="intro-icon">
                    <p><%- __("<span>Only %s</span><br />Spaces Left",spacesLeft.toLocaleString()) %></p>
                </div>
                <div class="col-sm-4 col-md-4 wow fadeInUp" data-wow-delay="0.4s">
                    <img src="images/icons/award-icon.png" alt="intro-icon">
                    <p><span>3,000,000</span> <br> FORCE available</p>
                </div>
                <div class="col-sm-4 col-md-4 b-none wow fadeInUp" data-wow-delay="0.5s">
                    <img src="images/icons/pacman-icon.png" alt="intro-icon">
                    <p><span>over 418 <small>ETH</small></span> <br> available to win</p>
                </div>
            </article>
        </article>
</section>

<main>
    <!--Download Section Start-->
    <section class="download-section text-center" id="download">
    	<ul class="list-inline download-info">
        	<li class="wow animated fadeInLeft" data-wow-delay="0.2s"><img src="images/footer-app-icon.png" alt="raidparty"></li>
            <li class="text-left wow animated fadeInRight" data-wow-delay="0.4s">
            	<h2 class="white">
                	Download <span>RaidParty<sup>TM</sup></span><br />to win prizes today.
                </h2>
                <ul class="list-inline app-btns-block">
                    <li class="paddingl-none"><a href="/"><img src="images/google-play-btn.png" alt="google-store"></a></li>
                    <li><a href="/"><img src="images/app-store-btn.png" alt="app-store"></a></li>
                </ul>
            </li>
        </ul>
    </section>
    <!--Download Section End-->
</main>


<%- partial('./partials/footer.ejs') %>
