<%- partial('./partials/header.ejs') %>


<section class="banner-area text-center" id="intro">
    <article class="container text-center mid-blocks">
		<h1 class="wow fadeIn" data-wow-delay="0.1s">How to <span>Play</span> and <span>Win</span></h1>
	</article>
</section>

<main class="container text-center mid-blocks">

	<article class="instruction-item">
		<h3 class="instruction-heading">Step 1) Download the RaidParty mobile app</h3>
		<p>Search on Google Play or the App store on iOS for RaidParty, or download from the links below directly:</p>
		<ul class="list-inline app-btns-block">
			<li class="wow fadeInRight"><a href="/"><img src="/images/google-play-btn.png" alt="google-store"></a></li>
			<li class="wow fadeInLeft"><a href="/"><img src="/images/app-store-btn.png" alt="app-store"></a></li>
		</ul>
	</article>
	
	<article class="instruction-item">
		<h3 class="instruction-heading">Step 2) Login and visit the 'games' tab inside the mobile app</h3>
		<p>When you get to the games tab inside the mobile app, look for your 'player code' at the top of the screen and copy it.</p>
		<p>You will need this unique 7 character player code to enter on the games to be entered into the reward system for each and every game you play.</p>
		
		<img src="" alt="" />
	</article>
	
	<article class="instruction-item">
		<h3 class="instruction-heading">Step 3) Choose a game to play</h3>
		<p>In the same games list page, choose a game you want to play. Click the 'Play Now' button and install the game on your device.</p>
	</article>
	
	
	<article class="instruction-item">
		<h3 class="instruction-heading">Step 4) Enter your unique player code into the game settings</h3>
		<p>Inside every game that is connected to the RaidParty reward network, will provide you an area in the settings to enter your unique 7 character player code.</p>
		<p>Look for 'RaidParty Settings' or 'RaidParty Connection' for example, submit your code and await the confirmation that you have been successfully connected.</p>
		<p>This is critical for your game play to be tracked properly and be in with a chance of winning the big jackpot prizes.</p>
	</article>
	
	
	<article class="instruction-item">
		<h3 class="instruction-heading">Step 5) Play the game!</h3>
		<p>Once you are connected, simply start playing the game and try to complete the challenges to get entered into the prize draws.</p>
		<p>You will need to do things like complete certain levels, defeat bosses or get high on the leaderboards...</p>
	</article>
	
</main>


<%- partial('./partials/footer.ejs') %>
