<%- partial('./partials/header.ejs') %>

<main>
	<section class="privacy-policy">
		<article>
			<div class="container">
				<h1>Privacy Policy</h1>
				<h3>Information we collect</h3>
				<h3>We collect the following types of information.</h3>
				<h3>Information you provide us directly:</h3>
				<ul>
					<li>Your username, password and e-mail address when you register for an RaidParty account.</li>
					<li>Profile information that you provide for your user profile (e.g., first and last name, picture, phone number). This information allows us to help users be "found" on RaidParty.</li>
					<li>Communications between you and Instagram. For example, we may send you Service-related emails (e.g., account verification, changes/updates to features of the Service, technical and security notices).</li>
					<li>Games posted. This allows us to view where users are playing their favorite sports.</li>
					<li>List of teams created on RaidParty.</li>
				</ul>
				<h3>How to contact us</h3>
				<p>If you have any questions about this Privacy Policy, please contact us at <a href="mailto:support@raidparty.io">support@raidparty.io</a></p>
			</div>
		</article>
	</section>
</main>
<!--******************* Middle Section End ******************-->


<%- partial('./partials/footer.ejs') %>