<%- partial('./partials/header.ejs') %>

<main>
	<section class="privacy-policy">
		<article>
			<div class="container">
				<br />
				<br />
				<h1>Terms of Service</h1>
				
				<p>If you have any questions about our terms of service, please contact us at <a href="mailto:support@raidparty.io">support@raidparty.io</a></p>
			</div>
		</article>
	</section>
</main>
<!--******************* Middle Section End ******************-->


<%- partial('./partials/footer.ejs') %>