<%- partial('./partials/header.ejs') %>

<main>
	<section class="privacy-policy">
		<article>
			<div class="container">
				<br />
				<br />
				<h1>Terms of Service</h1>
				
				<p>If you have any questions about our terms of service, please contact us at <a href="mailto:support@raidparty.io">support@raidparty.io</a></p>
				
				<br />
				
				<p>All cryptocurrency rewards are provided by TriForce Tokens Ltd, a private limited company, registered in UK, Coventry registration number 10844811.</p>
				
				<p>This website and associated technology is operated by TriForce Tokens Ltd. ("us/we/our"), the owner of RaidParty trademarks, logos and trade dress ("Marks"). "Website" means the website located at raidparty.io, any subsequent URL which may replace it, and all associated websites, URLs , micro sites and any Apps. 
				"You/your" means you as a user of the Website. 
				"User" means all users of this Website. 
				We offer this Website, including all information and services available from this Website, to you conditioned upon your acceptance of all the terms, conditions, policies and notices stated herein. 
				YOUR CONTINUED USE OF THIS WEBSITE CONSTITUTES YOUR AGREEMENT TO THESE TERMS OF USE.</p>
				
				<p>forth herein. If there is anything you do not understand, please email any inquiry to support@raidparty.io. 
				If at any time you do not agree to these Terms of Use, please do not use this Website or mobile application.</p>
				
				<p>YOU SHALL NOT USE THE WEBSITE FOR ANY ILLEGAL PURPOSES, AND YOU WILL USE IT IN COMPLIANCE WITH ALL APPLICABLE LAWS AND REGULATIONS. YOU SHALL NOT USE THE WEBSITE IN A WAY THAT MAY CAUSE THE WEBSITE TO BE INTERRUPTED, DAMAGED, RENDERED LESS EFFICIENT OR SUCH THAT THE EFFECTIVENESS OR FUNCTIONALITY OF THE WEBSITE IS IN ANY WAY IMPAIRED. YOU AGREE NOT TO ATTEMPT ANY UNAUTHORIZED ACCESS TO ANY PART OR COMPONENT OF THE WEBSITE.</p>
				
				<br />
				
				<p><strong>Program Overview</strong></p>
				<p>With RaidParty (the "Program"), you can earn crypto currencies and Participate in Tournaments and Jackpot events. These Terms and Conditions govern your participation in the Program. The Program allows you to earn rewards and Points in a variety of manners, subject to the terms and conditions herein. Crypto currencies have Cash Value and are used at the users discretion. They can sold on the crypto currency exchanges, or exchanges for both items and in-game items. By registering for the Program, accessing the Program website, and/or using your cryptocurrency, you agree to be bound by all applicable terms and conditions.</p>
				
				<br />
				
				<p><strong>Important Program Terms</strong>
				<li>An online account ("Program Account") will be set up to record your activity in the Program, it will record the amount of Rewards that you have achieved when you play games and includes the amount of crypto currency you have accumulated.</li>
				<li>The Program is available to you only while your account with RaidParty is in good standing. Should you terminate your RaidParty account or otherwise no longer be in good standing with RaidParty, your Program account is subject to immediate cancellation and you will no longer be able to use your accumulated Rewards or crypto currencies from RaidParty.</li>
				<li>Your crypto currency has a cash value and they may not be redeemed for cash, in whole or part. There is no cash surrender value for unused Points, and you have no property rights or other legal interests in Points.</li>
				<li>Your Points are not a gift card, debit or credit card and they may not be assigned, transferred and/or pledged to any third party. Any sale or barter involving your Points will void them completely.</li>
				<li>This offer is void where prohibited by applicable federal, state or local laws or regulations and are subject to change as may be necessary to comply with such laws or regulations.</li>
				<li>We have the right to monitor all Program Account activity. If your Program Account shows signs of fraud, abuse or suspicious activity or any misuse of the Program or your Program Account, you may lose your accumulated Rewards and crypto currency, and, as a result of this activity, we may close your Program Account immediately.</li>
				<li>The Program or any portion thereof may be revised or terminated at any time in the sole discretion of RaidParty. In the event of Program termination, you will be given a reasonable period of time to redeem any accumulated rewards and crypto currency. In that event, we will not offer, and rewards and/or crypto currency cannot be applied to, sweepstakes, auctions or daily deals. Further, in the event of Program termination, you will no longer continue to earn rewards or crypto currency.</li>
				<li>These Terms and Conditions, as updated from time to time, are accessible on the Program website.</li>
				<li>It is important that you review the terms and conditions for specific good and service offered on the Program website. These terms are displayed when you "click" on a specific good or service on the website.</li>
				
				<br />
				
				<p><strong>Earning Rewards</strong></p>
				<p>You can earn points by ways listed on the Website. These can include but are not limited to:<p>
				<p>Installing games,
				Completing offers,
				Completing in-game tasks, challenges or achievements,
				Winning of competitions,
				Downloading games and
				Opening rewards</p>
				<p>Your points have no monetary value and are used only as a placeholder in the respective tournaments</p>
				<p>Please see Tournament Rules for more information</p>
				
				<br />
				
				<p><strong>Tournaments</strong>
				<p>Each Tournament may have separate entry requirements or rules, this therefore means that you may not be eligible to enter any or some tournaments at times<p>
				<p>Please see Tournament Rules for more information<p>
				
				<br />
				
				<p><strong>Rewards</strong></p>
				<p>When you play games that have the RaidParty SDK installed you earn Rewards for accomplishing certain actions within the game.</p>
				<p>Each game will have instructions on how to earn the rewards</p>
				<p>In order to see what you have won in each reward you will need to open your wallet either on our ios or android app or our website located at www.raidparty.io</p>
				<p>Inside the rewards will be either prizes or crypto currency from RaidParty or our Brand Partners</p>
				<p>You can increase your rewards by completing Offers from either RaidParty, TriForce Tokens or our Brand Partners</p>
				<p>These Offers may be made available to you when you open a Reward</p>
				<p>If you choose not to complete an offer that Offer may or may not be available to you again</p>
				
				<br />
				
				<p><strong>JackPots</strong></p>
				<p>Each Jackpot will have different entry requirements or rules, this therefore means that you may not be eligible to enter any or some tournaments at times</p>
				<p>Please see each individual Jackpot Rules for more information</p>
				<p>Jackpots will be designed and created by TriForce Tokens and RaidParty at their discretion</p>
				<p>The size of the Jackpot reward is at TriForce Tokens and RaidParty's discretion</p>
				<p>Jackpot events are random and maybe help at random, however sufficient notice will be provided in order for users to join if they meet the requirements and rules.</p>
				
				<br />
				
				<p><strong>Intellectual Property Ownership and Use</strong></p>
				<p>You acknowledge and agree that the Marks, copyrights and any and all other intellectual property rights in all material or content contained within this Website shall remain at all times vested in us or, in the cases where we are using such material or content under authority from a third party, in the owner of such material or content.</p>
				<p>We grant you the limited right to access and make use of the Website as our user. However, you shall not: a) reproduce, duplicate, copy, sell or otherwise exploit the Website or any image, page layout, page design, trade dress, trademark, logo or other content ("Site Content") for any commercial purpose; b) use a robot, spider or data mining or extraction tool or process to monitor, extract or copy Site Content; c) use any meta tags, search terms, key terms, or the like that contain the Websites name or our Marks; d) engage in any activity that interferes with the Website or another users ability to use the Website; e) modify, create derivative works from, reverse engineer, decompile or disassemble any technology used to provide the Website and the goods or services offered on the Website; or f) assist or encourage any third party in engaging in any activity prohibited by these Terms of Use.</p.
				<p>You shall not use, copy, distribute, or exploit any of the Marks or Site Content in any manner without our prior written permission.</p>
				<p>All Site Content and all materials and content contained within the Website, including but not limited to the text, graphics, logos, button icons, images, audio clips, video clips, articles, posts and data compilations appearing on the Website, are owned by us, or used by us under authorization, and are protected by U.K. and foreign trademark and copyright laws. No portion of the materials or content on these pages may be reprinted or republished in any form without our express written permission.</p>
				
				<br />
				
				<p><strong>Infringement Notice (Digital Millennium Copyright Notice)</strong></p>
				<p>We respect the intellectual property rights of others and require that our users do the same. If you believe your work has been copied in a manner that constitutes copyright infringement, or you believe your rights are otherwise infringed or violated by anything on the Website, please notify us by sending an email to the following address: suppor@raidparty.com.</p>
				<p>In order for us to more effectively assist you, the notification must include all of the following: a. A physical or electronic signature of the owner of the right claimed to be infringed or the person authorized to act on the owners behalf; b. A description of the copyrighted work or other right you claim has been infringed or violated; c. Information reasonably sufficient to locate the material in question on the Website; d. Your name, address, telephone number, e-mail address and all other information reasonably sufficient to permit us to contact you; e. A statement by you that you have a good faith belief that the disputed use is not authorized by the rightful owner, its agent or the law; and f. A statement by you, made under penalty of perjury, that the above information in your notice is accurate and that you are the owner of the right claimed to be infringed or violated or are authorized to act on behalf of the owner.</p>
				
				<br />
				
				<p><strong>Errors and Inaccuracies</strong></p>
				<p>We strive to provide complete, accurate, up-to-date information on the Website. Unfortunately, despite those efforts, human or technological errors may occur. The Website may contain typographical mistakes, inaccuracies, or omissions, and some information may not be complete or current. We reserve the right to correct any errors, inaccuracies or omissions, and to change or update information at any time without prior notice.</p>
				
				<br />
				
				<p><strong>Changes to Website or These Terms of Use</strong></p>
				<p>Other than as may be required by law, we reserve the right to modify or withdraw, temporarily or permanently, the Website (or any part of) with or without notice to you, and you confirm that we shall not be liable to you or any third party for any modification to withdraw or withdrawal of the Website or any portion of it.</p>
				<p>We may alter these Terms of Use from time to time, and your use of the Website (or any part of the Website) following such change shall be deemed to be your acceptance of such change. It is your responsibility to check regularly to determine whether the Terms of Use have been changed. strong If you do not agree to any change to the Terms of Use, then you must immediately stop using the Website.</p>
				<p>The Website is subject to constant change. You will not be eligible for any compensation because you cannot use any part of the Website or because of a failure, suspension or withdrawal of all or part of the Website.</p>
				
				<br />
				
				<p><strong>External Sites and Resources</strong></p>
				<p>We are not responsible for the availability of any websites owned or controlled by third-parties. We do not endorse and are not responsible or liable, directly or indirectly, for the privacy practices or the content (including misrepresentative or defamatory content) of any third party websites, including (without limitation) any advertising, products or other materials or services on or available from such websites or resources, nor for any damage, loss or offense caused or alleged to be caused by, or in connection with, the use of or reliance on any such content, goods or services available on such third-party external sites or resources.</p>
				
				<br />
				
				<p><strong>Online Services</strong></p>
				<p>You will not upload, post, email or otherwise transmit any material or other content that: (i) is defamatory, libelous, disruptive, threatening, invasive of a persons privacy, harmful, abusive, harassing, obscene, hateful, or racially, ethnically or otherwise objectionable; or that otherwise violates any law; (ii) contains software viruses or any other computer codes, files or programs designed to interrupt, destroy, or limit the functionality of any computer software or hardware or telecommunications equipment; (iii) infringes any person or entitys intellectual property rights (including but not limited to, patent, trademark, trade secret, copyright or other intellectual property right).</p>
				<p>You will not impersonate any person or entity or otherwise misrepresent your affiliation with a person or entity.</p>
				<p>You will not repeatedly post the same or similar message ("flooding") or post excessively large or inappropriate images or content.</p>
				<p>You will not distribute or publish unsolicited promotions, advertising or solicitations for funds, goods or services, including but not limited to, junk mail, spam and chain letters.</p>
				<p>User Content becomes public information. You should be very careful about posting personally identifiable information such as your name, address, telephone number or email address. If you post personal information online, you may receive unsolicited messages from other Users in return.</p>
				<p>You are responsible for maintaining the confidentiality of your account and password and for restricting access to your computer. You agree to accept responsibility for all activities that occur under your account or password, regardless of whether such use is authorized by you or not.</p>
				<p>If you submit any User Content, you grant to us, and any of our successors, licensees, assigns, and affiliates, a royalty-free, perpetual, irrevocable, non-exclusive and fully sub-licensable right and license to use, reproduce, modify, edit, adapt, publish, translate, create derivative works from, distribute, perform and display the User Content, and in any other media, now known or hereafter devised.</p>
				<p>If you choose to communicate or meet with other users of the Website, you are doing so at your own risk. We do not, and have no obligation to, verify the identity of or otherwise screen our users for any reason. You acknowledge that there are risks, including the risk of physical harm, when dealing with strangers or people acting under false pretenses. You assume all risks associated with dealing with other users with whom you may come in contact through the Website.</p>
				<p>This Website is meant for users 18 years old and over. We will not knowingly allow any user less than 18 years of age to submit any User Content to our Website.</p>
				
				<br />
				
				<p><strong>Disclaimers</strong></p>
				<p>WE MAKE NO WARRANTIES, WHETHER EXPRESS OR IMPLIED IN RELATION TO THE ACCURACY OF ANY INFORMATION ON THE WEBSITE. THE WEBSITE IS PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS WITHOUT ANY REPRESENTATION. WE MAKE NO WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED, IN RELATION TO THE WEBSITE, INCLUDING BUT NOT LIMITED TO, IMPLIED WARRANTIES OF SATISFACTORY QUALITY, FITNESS FOR A PARTICULAR PURPOSE, NON-INFRINGEMENT, COMPATIBILITY, SECURITY, ACCURACY, CONDITION OR COMPLETENESS, OR ANY IMPLIED WARRANTY ARISING FROM COURSE OF DEALING OR USAGE OR TRADE.</p>
				<p>WE MAKE NO WARRANTY THAT THE WEBSITE WILL MEET YOUR REQUIREMENTS OR WILL BE UNINTERRUPTED, TIMELY, SECURE OR ERROR-FREE, THAT DEFECTS WILL BE CORRECTED, OR THAT THE WEBSITE OR THE SERVER THAT MAKES IT AVAILABLE ARE FREE OF VIRUSES OR BUGS OR ARE FULLY FUNCTIONAL, ACCURATE, OR RELIABLE.</p>
				<p>IN NO EVENT WILL WE BE LIABLE FOR DAMAGES OF ANY KIND, UNDER ANY LEGAL THEORY, ARISING OUT OF OR IN CONNECTION WITH YOUR USE, OR INABILITY TO USE, THE WEBSITE, ANY WEBSITES LINKED TO IT, ANY CONTENT ON THE WEBSITE OR SUCH OTHER WEBSITES OR ANY SERVICES OR ITEMS OBTAINED THROUGH THE WEBSITE OR SUCH OTHER WEBSITES, INCLUDING ANY DIRECT, INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL OR PUNITIVE DAMAGES, INCLUDING BUT NOT LIMITED TO, PERSONAL INJURY, PAIN AND SUFFERING, EMOTIONAL DISTRESS, LOSS OF REVENUE, LOSS OF PROFITS, LOSS OF BUSINESS OR ANTICIPATED SAVINGS, LOSS OF USE, LOSS OF GOODWILL, LOSS OF DATA, AND WHETHER CAUSED BY TORT (INCLUDING NEGLIGENCE), BREACH OF CONTRACT OR OTHERWISE, EVEN IF FORESEEABLE.</p>
				<p>AS SET FORTH IN THE WEBSITE PRIVACY POLICY, YOU ACKNOWLEDGE THAT WE CANNOT GUARANTEE, AND THEREFORE SHALL NOT BE IN ANY WAY RESPONSIBLE FOR, THE SECURITY OR PRIVACY OF THE WEBSITE AND ANY INFORMATION PROVIDED TO OR TAKEN FROM THE WEBSITE BY YOU.</p>
				
				<br />
				
				<p><strong>Limitations on Liability</strong></p>
				<p>WE WILL NOT BE LIABLE FOR ANY ECONOMIC LOSSES (INCLUDING WITHOUT LIMITATION LOSS OF REVENUES, PROFITS, CONTRACTS, BUSINESS OR ANTICIPATED SAVINGS) OR ANY LOSS OF GOODWILL OR REPUTATION, OR ANY LOSS OR CORRUPTION OF DATA, OR ANY SPECIAL OR INDIRECT OR CONSEQUENTIAL LOSSES ARISING OUT OF YOUR USE OF THE WEBSITE; IN ANY CASE WHETHER OR NOT SUCH LOSSES WERE WITHIN THE CONTEMPLATION OF US AT THE DATE ON WHICH THE EVENT GIVING RISE TO THE LOSS OCCURRED.</p>
				<p><strong>Indemnification</strong></p>
				<p>YOU AGREE TO BE FULLY RESPONSIBLE FOR (AND FULLY INDEMNIFY US AGAINST) ALL CLAIMS, LIABILITY, DAMAGES, LOSSES, COSTS AND EXPENSES, INCLUDING LEGAL FEES, SUFFERED BY US AND ARISING OUT OF ANY USER CONTENT YOU POST TO THE WEBSITE AND ANY BREACH OF YOUR REPRESENTATIONS AND WARRANTIES OR THESE TERMS OF USE BY YOU OR ANY OTHER LIABILITIES ARISING OUT OF YOUR USE OF THE WEBSITE, OR THE USE BY ANY OTHER PERSON ACCESSING THE WEBSITE USING YOUR COMPUTER OR INTERNET ACCESS ACCOUNT.</p>
				
				<br />
				
				<p><strong>Investigations of Violations of These Terms</strong></p>
				<p>We may investigate any reported violation of these Terms of Use and take any action that we deem appropriate. Such action may include, but is not limited to, issuing warnings, removing posted content and/or reporting any activity that we suspect violates any law or regulation to appropriate law enforcement officials, regulators, or other third parties.</p>
				
				<br />
				
				<p><strong>Miscellaneous</strong></p>
				<p>If any part of these Terms of Use shall be deemed unlawful, void or for any reason unenforceable, then that provision shall be deemed to be severable from these Terms of Use and shall not affect the validity and enforceability of any of the remaining provisions of the Terms of Use.</p>
				<p>These Terms of Use and our Privacy Policy, and any other terms or agreements that may be posted on the Website (as may be amended from time to time) ("Website Agreements") contain the entire agreement between you and us relating to the Website and your use of the Website and supersede any previous agreements, arrangements, undertakings or proposals, written or oral, between you and us in relation to such matters. No oral explanation or oral information shall alter the interpretation of these Website Agreements. You confirm that, in agreeing to accept these Website Agreements, you have not relied on any representation except insofar as the same has expressly been made a representation in these Website Agreements, and you agree that you shall have no remedy in respect of any representation which has not become a term of these Website Agreements. </p>
				
				<br />
				
				<p><strong>Contact Information</strong></p>
				<p>You may send us notices or communicate with us by email to support@raidparty.io. If you send us an email that asks for a response, and you do not receive a response within ten (10) business days, please send us another email as we may not have received your previous email. When you send e-mail to us, you are communicating with us electronically, and you agree that we may communicate with you electronically. You acknowledge that that communications by email are not considered confidential communications. Therefore, please do not send us any confidential information by email</p>

			</div>
		</article>
	</section>
</main>


<%- partial('./partials/footer.ejs') %>